.products__wrapper {
    
}
.products {
    text-align: center;
    padding: 5rem 0 20rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
    text-align: center;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 7rem;
}
.products .item {
    margin-top: 8rem;
    position: relative;
}
.product__block {
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.product {
    display: block;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.product__text-box {
    position: relative;
}
.product__img-box {
    /* background-color: var(--second-brand-color);
    padding: .5rem; */
}
.product .img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__name {
    font-family: var(--title-font);
    font-size: 2.3rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.product__price {
    display: block;
    font-size: 4rem;
    /* font-family: var(--title-font); */
    color: var(--first-brand-color);
}
.product__text-box {
    padding: 3rem 0 1rem;
}
.product__btn {
    width: 100%;
    font-size: 2rem;
    padding: .7rem 1.2rem;
    margin-left: 0;
} 
@media screen and (min-width: 1024px) {  
    .products__list {
        /* padding: 10rem; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: .2rem;
        row-gap: .2rem;
        background-color: var(--third-brand-color);
        border: .2rem solid var(--third-brand-color);
    }
    .products .item {
        margin-top: 0;
        text-align: left;
        background-color: var(--main-bg-color);
    }
    .product__block {
        padding: 1rem;
    }
    .product__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product__name {
        margin-bottom: 0;
    }
}


